{{#in-head}}
  <title>ember-emotion</title>
  <description>emotion styles in Ember.js</description>
{{/in-head}}

<div class={{emotion-class 'wrapper'}}>
  <div class={{emotion-class 'icons'}}>
    <img class={{emotion-class 'emberLogo'}} src={{asset-path 'images/ember-logo.png'}}>
    <span class={{emotion-class 'joiner'}}></span>
    <img class={{emotion-class 'emotionLogo'}} src={{asset-path 'images/emotion-logo.png'}}>
  </div>

  <p class={{emotion-class 'description'}}>
    Make <code><a href="https://emotion.sh">emotion</a></code> styling easy in <code><a href="https://emberjs.com">ember.js</a></code>
   <br>
   <br>
   Find more information on <a href="https://github.com/alexlafroscia/ember-emotion">Github</a>
   <br>
   <br>
    Below details an example component implementation that uses <code>emotion</code> for styling
  </p>

  {{code-example snippetName='component.js'}}

  {{code-example snippetName='template.hbs'}}

  {{code-example snippetName='style.js'}}
</div>
