<div class={{emotion-class 'wrapper'}}>
  <div class={{emotion-class 'icons'}}>
    <img class={{emotion-class 'emberLogo'}} src="/ember-emotion/images/ember-logo.png">
    <span class={{emotion-class 'joiner'}}></span>
    <img class={{emotion-class 'emotionLogo'}} src="/ember-emotion/images/emotion-logo.png">
  </div>

  <p class={{emotion-class 'description'}}>
    Make <code><a href="https://emotion.sh">emotion</a></code> styling easy in <code><a href="https://emberjs.com">ember.js</a></code>
  </p>

  <p class={{emotion-class 'description'}}>
    Below details an example component implementation that uses <code>emotion</code> for styling
  </p>

  {{code-example snippetName='component.js'}}

  {{code-example snippetName='template.hbs'}}

  {{code-example snippetName='styles.js'}}
</div>
